@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-orange: hsl(31, 91%, 35%);
    --dark-cyan: hsl(184, 100%, 22%);
    --light-cyan: hsl(184, 68%, 40%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --very-light-cyan: hsl(178, 39%, 34%);
    /* ### Neutral */
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    min-width:375px;
    max-width: 1440px;
}

body{
    font-size: 15px;
    background-color: var(--very-light-gray);
}
 
main .cardgroup{
    position:relative;
    /* margin: auto; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    width: 50%;
    height: 100vh;
}

.link{
    font-family: "lexend deca", sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: var(--very-light-gray);
    border:2px solid var(--very-light-gray);
    padding:10px 20px;
    border-radius: 20px;
    letter-spacing:2;
    transition: all 0.3s ease-in-out;
    position:absolute;
    left:45%;
    bottom: 10%;
}

.link a{
    color:var(--very-dark-cyan);
    text-decoration:none;
    
}

.link:hover{
    cursor:pointer;
    transform:scale(1.05); 
    background-color:var(--light-cyan);
}

/* ==================SEDANS============ */
.cardgroup .sedans{
   background-color: var(--bright-orange);
   padding: 2.2rem;
   border-radius: 6px 0 0 6px;
}


.cardgroup .sedans img{
    width: 50px;
    padding-bottom: 1.5rem;
}

.cardgroup .sedans h2{
    font-family:"big shoulders display", cursive;
    font-weight: 700;
    font-size: 2rem;
    color:var(--very-light-gray);
    padding-bottom: 1.5rem;
}

.cardgroup .sedans p{
    font-family: "lexend deca", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color:var(--transparent-white);
    line-height: 1.2rem;
    padding-bottom: 4rem;
}

.cardgroup .sedans button{
    font-family: "lexend deca", sans-serif;
    font-weight: 400;
    color:var(--very-light-gray);
    background-color: var(--bright-orange);
    border:2px solid var(--very-light-gray);
    padding:10px 20px;
    border-radius: 20px;
    letter-spacing:2;
    transition: all 0.3s ease-in-out;
}

.cardgroup .sedans button:hover{
    cursor:pointer;
    transform:scale(1.05); 
    background-color:var(--dark-orange);
   
}

/* ================SUVS============== */
.cardgroup .suvs{
    background-color:var(--dark-cyan);
    padding: 2.2rem;
}

.cardgroup .suvs img{
    width: 50px;
    padding-bottom: 1.5rem;
}

.cardgroup .suvs h2{
    font-family:"big shoulders display", cursive;
    font-weight: 700;
    font-size: 2rem;
    color:var(--very-light-gray);
    padding-bottom: 1.5rem;
}

.cardgroup .suvs p{
    font-family: "lexend deca", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color:var(--transparent-white);
    line-height: 1.2rem;
    padding-bottom: 4rem;
}

.cardgroup .suvs button{
    font-family: "lexend deca", sans-serif;
    font-weight: 400;
    color:var(--very-light-gray);
    background-color:var(--dark-cyan);
    border:2px solid var(--very-light-gray);
    padding:10px 20px;
    border-radius: 20px;
    letter-spacing:2;
    transition: all 0.3s ease-in-out;
}

.cardgroup .suvs button:hover{
    cursor:pointer;
    transform:scale(1.05); 
    background-color:var(--light-cyan);
   
}

/* ==========LUXURY=========== */
.cardgroup .luxury{
    background-color:var(--very-dark-cyan);
    padding: 2.2rem;
    border-radius: 0 6px 6px 0;
}

.cardgroup .luxury img{
    width: 50px;
    padding-bottom: 1.5rem;
}

.cardgroup .luxury h2{
    font-family:"big shoulders display", cursive;
    font-weight: 700;
    font-size: 2rem;
    color:var(--very-light-gray);
    padding-bottom: 1.5rem;
}

.cardgroup .luxury p{
    font-family: "lexend deca", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color:var(--transparent-white);
    line-height: 1.2rem;
    padding-bottom: 4rem;
}

.cardgroup .luxury button{
    font-family: "lexend deca", sans-serif;
    font-weight: 400;
    color:var(--very-light-gray);
    background-color:var(--very-dark-cyan);
    border:2px solid var(--very-light-gray);
    padding:10px 20px;
    border-radius: 20px;
    letter-spacing:2;
    transition: all 0.3s ease-in-out;
}

.cardgroup .luxury button:hover{
    cursor:pointer;
    transform:scale(1.05); 
    background-color:var(--very-light-cyan);
}
